<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>

    <div class="root">
        <%- include('partials/header') %>

        <%-body%>

        <%- include('partials/footer') %>
    </div>

    <div id="particles-js"></div>
    
    <%- include('partials/config/particles') %>
</body>
</html>